/* variables */
:root {
  --day: #fad54e;

  --customGreen: rgb(144, 194, 43);
  --customBlue: rgb(12, 117, 158);
  --customBlueTab: rgba(12, 117, 158, 0.55);
  --customWhite: #f4f4f4;

  --black: #020202;
  --white: #fff;
  --customDark: #121212;
  --gray: #777;
  --lightGray: #b4b4b4;
  --lighterGray: #e5e5e5;
  --lightestGray: #eee;

  --transparent: transparent;

  --shadowColor1: rgba(0, 0, 0, 0.15);
  --shadowColor2: rgba(0, 0, 0, 0.4);

  --transition: 0.4s ease;

  --fontSmall: 0.875rem;
  --fontPara: 1.05rem;
  --fontHead: 2.25rem;
  --fontLg: 3rem;
  --fontLato: "lato", sans-serif;
  --fontUbuntu: "Ubuntu", sans-serif;

  --letterSpaceSm: 0.5px;
  --letterSpaceMd: 1px;
  --letterSpaceLg: 2px;
  --letterSpaceXl: 4px;
  --letterSpaceXXl: 6px;
}

.dayTheme {
  --bodyBg: var(--customWhite);
  --headerStickedBg: rgba(0, 0, 0, 0.055);
  --heroBg: var(--white);
  --footerBg: var(--lightestGray);
  --footerColor: var(--black);

  --title: var(--black);
  /* --titleSpan: var(--gray); */
  --subtitle: var(--customGreen);
  --textColor: var(--gray);

  --button2: var(--customGreen);
  --button2Hover: var(--transparent);

  --spinner: var(--customGreen);
  --spinnerHover: var(--white);

  --shadow: var(--shadowColor1);
  --modeIconColor: var(--customDark);
}

.nightTheme {
  --bodyBg: var(--customDark);
  --headerStickedBg: var(--shadowColor2);
  --heroBg: var(--customBlueTab);
  --footerBg: var(--transparent);
  --footerColor: var(--lightGray);

  --title: var(--customWhite);
  /* --titleSpan: var(--customWhite); */
  --subtitle: var(--lightGray);
  --textColor: var(--lightGray);

  --button2: var(--transparent);
  --button2Hover: var(--customGreen);

  --spinner: var(--white);
  --spinnerHover: var(--customGreen);

  --shadow: var(--shadowColor2);
  --modeIconColor: var(--day);
}

.mode {
  padding: 10px;
  background: var(--lighterGray);
  border-radius: 10%;
}

.mode-icon {
  font-size: var(--fontPara);
  transition: color var(--transition);
  text-transform: capitalize;
}

.fa-moon,
.fa-sun {
  color: var(--modeIconColor);
}
.fa-moon:hover,
.fa-sun:hover {
  cursor: pointer;
}
