.content-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.about-content {
  max-width: 560px;
}

.about-content p {
  font-size: var(--fontPara);
  letter-spacing: var(--letterSpaceSm);
  line-height: 26px;
}

.image-container {
  position: relative;
  margin-top: 80px;
}

.about-image {
  max-width: 400px;
}

.about-image::before {
  width: 100%;
  height: 235px;
  content: "";
  position: absolute;
  left: 15px;
  top: 15px;
  border: 2px dotted var(--textColor);
  border-radius: 5px;
  z-index: -1;
  transition: var(--transition);
}

.about-image:hover::before {
  box-shadow: 0.5rem 0.5rem 1.75rem var(--shadow);
  /* transform: scale(0.985); */
  left: 13px;
  top: 13px;
}

.about-image img {
  border-radius: 5px;
}

.technologies {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  gap: 0px 10px;
  padding-left: 20px;
  overflow: hidden;
}

.technologies li {
  font-size: var(--fontSmall);
  font-weight: 500;
  line-height: 26px;
  color: var(--textColor);
  letter-spacing: var(--letterSpaceLg);
}

/* form {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

form #email {
  min-width: 250px;
  padding: 0.65rem 1rem;
  border-radius: 5px;
  font-size: 13px;
  box-sizing: border-box;
  border: 1px solid transparent;
  transition: var(--transition);
}

form #submit {
  padding: 0.65rem 1rem;
  min-width: 120px;
  margin-left: 10px;
  font-size: 13px;
  background: var(--customBlue);
  color: #fff;
  outline: none;
  border: 1px solid transparent;
  border-radius: 5px;
}

form #submit:hover {
  background: transparent;
  border-color: var(--customBlue);
  color: var(--customBlue);
  cursor: pointer;
}

form #email:hover,
form #email:focus {
  outline: none;
  box-shadow: 0.5rem 0.5rem 1.75rem rgba(0, 0, 0, 0.15);
}

form #email:valid {
  border: 1px solid var(--customBlue);
} */

@media screen and (max-width: 1025px) {
  .about-content {
    max-width: 480px;
  }

  .about-image::before {
    height: 230px;
  }
}

@media screen and (max-width: 769px) {
  .content-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-content {
    max-width: 560px;
    padding: 0 !important;
  }

  .technologies {
    padding: 0 !important;
  }

  .about-image::before {
    height: 240px;
  }
}

@media screen and (max-width: 426px) {
  .image-container {
    display: none;
  }

  /* .about-image::before {
    height: 220px;
    width: 380px;
  } */

  .technologies li {
    letter-spacing: var(--letterSpaceMd);
  }

  /* form {
    flex-direction: column;
  }

  form #submit {
    margin: 10px;
    min-width: 250px;
  } */
}

/* @media screen and (max-width: 376px) {
  .about-image::before {
    height: 200px;
    width: 280px;
  }
} */

@media screen and (max-width: 375px) {
  /* .about-image::before {
    height: 160px;
  } */

  .technologies {
    grid-template-columns: 1fr 100px;
  }
}
