.contact-fixed {
  position: fixed;
  width: 40px;
  bottom: 0px;
  right: 40px;
  left: auto;
  z-index: 1;
}

.email-wrapper {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  line-height: 22px;
}

.email-wrapper::after {
  content: "";
  display: block;
  width: 0.75px;
  height: 90px;
  margin: 0px auto;
  background: var(--customGreen);
}

.email-wrapper a {
  font-size: 0.9rem;
  font-family: var(--fontUbuntu);
  margin: 20px auto;
  padding: 10px;
  color: var(--customBlue);
  letter-spacing: var(--letterSpaceSm);
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

.contact-fixed a:hover {
  transform: translateY(-5px);
  color: var(--customGreen);
}

@media screen and (max-width: 1025px) {
  .contact-fixed {
    width: 35px;
    right: 20px;
  }
}

@media screen and (max-width: 769px) {
  .contact-fixed {
    right: 10px;
  }
}

@media screen and (max-width: 500px) {
  .contact-fixed {
    display: none;
  }
}
