.header-container {
  position: sticky;
  top: 0;
  z-index: 3;
}

.header-container,
#header {
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -o-transition: var(--transition);
  -ms-transition: var(--transition);

  /* based on fcc requirement */
  background: var(--headerStickedBg);
  /* based on fcc requirement */
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 25px 40px;
  height: 30px; */
  padding: 0px 40px;
  height: 80px;
}

#header.sticked {
  background: var(--headerStickedBg);
  box-shadow: inset 0 0.5rem 2.5rem rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 0.5rem 2rem rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 0 0.5rem 2rem rgba(0, 0, 0, 0.05);

  height: 65px;
  border-radius: 0 0 5px 5px;
}

.header-logo {
  max-width: 70px;
  height: auto;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: var(--title);
  cursor: pointer;
}

.header-logo .brackets {
  font-size: var(--fontSmall);
  color: var(--title);
  padding-top: 4px;
}

.header-logo span {
  text-transform: uppercase;
  color: var(--gray);
  font-weight: 600;
  font-size: 2.65rem;
  font-family: var(--fontUbuntu);
  padding-left: 4px;
  padding-right: 4px;
}

.header-logo span:first-of-type {
  color: var(--gray);
  text-shadow: 1px 1.5px 1px #f4f4f4;
}

.header-logo span:nth-of-type(2) {
  margin-left: -20px;
  color: var(--customBlue);
  text-shadow: 1px 1.5px 1px #f4f4f4;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar li:not(:first-child) {
  margin-left: 12px;
}

.nav-link {
  padding: 10px;
  color: var(--customBlue);
  font-size: var(--fontPara);
  font-family: var(--fontUbuntu);
  position: relative;
  border: 1px dotted transparent;
}

.nav-link:focus {
  border-color: var(--customBlue);
}

.nav-link:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  content: "";
  height: 3px;
  width: 0%;
  display: block;
  background: var(--customBlue);
  border-radius: 20px 20px 0 0;
  transition: var(--transition);
}

.navbar li:hover > .nav-link:after {
  /* display: block; */
  width: 40%;
}

#mobile-menu-toggler {
  display: none;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  /* background: rgba(0, 0, 0, 0.1); */
  position: relative;
}

#mobile-menu-toggler:hover {
  cursor: pointer;
}

.mobile-menu-toggler {
  height: 2px;
  width: 20px;
  /* background: #222; */
  background: var(--title);
  position: relative;
  right: -2.5px;
}

.mobile-menu-toggler:before,
.mobile-menu-toggler:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 25px;
  /* background: #222; */
  background: var(--title);
  right: 0px;
  top: 8px;
}

.mobile-menu-toggler:after {
  top: -8px;
}

@media screen and (max-width: 769px) {
  #header {
    height: 75px;
  }

  .header-logo {
    padding: 10px;
  }

  .header-logo span {
    font-size: 2.25rem;
  }

  .navbar {
    position: fixed;
    height: 100vh;
    width: 0;
    top: 0;
    bottom: 0px;
    right: -100px;
    padding: 0;
    background: var(--black);
    box-shadow: -10px 0px 30px -15px var(--gray);
    transform: translateX(0vw);

    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;

    transition: var(--transition);
  }

  .show-nav {
    width: 55.5vw !important;
    right: 55.5vw !important;
    transform: translateX(55.5vw) !important;
    box-shadow: none !important;
  }

  .navbar li {
    margin: 20px 0 !important;
    text-align: center;
    line-height: 30px;
  }

  .nav-link {
    color: #f4f4f4;
    padding: 10px;
    font-size: var(--fontPara);
  }

  .nav-link:hover {
    background: rgba(250, 250, 250, 0.15);
    color: #f4f4f4;
    border-radius: 5px;
  }

  .nav-link:after {
    display: none !important;
  }

  #mobile-menu-toggler {
    display: flex;
    right: 0vw;
    transform: rotate(0deg);
    transition: var(--transition);
  }

  .styled-toggler {
    right: 50vw !important;
    transform: rotate(90deg) !important;
    /* background: #f4f4f4 !important; */
  }

  .mobile-menu-toggler {
    display: block;
  }
}

@media screen and (max-width: 660px) {
  #header {
    padding: 0px 15px;
  }
}
