.header-container {
  position: sticky;
  top: 0;
  z-index: 3;
}

.header-container,
#header {
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -o-transition: var(--transition);
  -ms-transition: var(--transition);

  /* based on fcc requirement */
  background: var(--headerStickedBg);
  /* based on fcc requirement */
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  height: 80px;
}

#header.sticked {
  background: var(--headerStickedBg);
  box-shadow: inset 0 0.5rem 2.5rem rgba(0, 0, 0, 0.085);
  -moz-box-shadow: inset 0 0.5rem 2rem rgba(0, 0, 0, 0.085);
  -webkit-box-shadow: inset 0 0.5rem 2rem rgba(0, 0, 0, 0.085);

  height: 65px;
  border-radius: 0 0 5px 5px;
}

.header-logo {
  max-width: 70px;
  height: auto;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: var(--title);
  cursor: pointer;
}

.header-logo .brackets {
  font-size: var(--fontSmall);
  color: var(--title);
  padding-top: 4px;
}

.header-logo span {
  text-transform: uppercase;
  color: var(--gray);
  font-weight: 600;
  font-size: 2.65rem;
  font-family: var(--fontUbuntu);
  padding-left: 4px;
  padding-right: 4px;
}

.header-logo span:first-of-type {
  color: var(--gray);
  text-shadow: 1px 1.5px 1px #f4f4f4;
}

.header-logo span:nth-of-type(2) {
  margin-left: -20px;
  color: var(--customBlue);
  text-shadow: 1px 1.5px 1px #f4f4f4;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar li:not(:first-child) {
  margin-left: 12px;
}

.nav-link {
  padding: 10px;
  color: var(--customBlue);
  font-size: var(--fontPara);
  font-family: var(--fontUbuntu);
  position: relative;
  border: 1px dotted transparent;
}

.nav-link:focus {
  border-color: var(--customBlue);
}

.nav-link:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  content: "";
  height: 3px;
  width: 0%;
  display: block;
  background: var(--customBlue);
  border-radius: 20px 20px 0 0;
  transition: var(--transition);
}

.navbar li:hover > .nav-link:after {
  width: 40%;
}

#mobile-menu-toggler {
  display: none;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: relative;
}

#mobile-menu-toggler:hover {
  cursor: pointer;
}

.mobile-menu-toggler {
  height: 2px;
  width: 20px;
  background: var(--title);
  position: relative;
  right: -2.5px;
}

.mobile-menu-toggler:before,
.mobile-menu-toggler:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 25px;
  background: var(--title);
  right: 0px;
  top: 8px;
}

.mobile-menu-toggler:after {
  top: -8px;
}

/* hero */
#welcome-section {
  display: flex;
  align-items: center;

  /* based on fcc requirement */
  margin-top: -80px;
  height: 100vh;
  background: transparent;
  /* based on fcc requirement */

  border-radius: 2px;
}

#welcome-section .content {
  max-width: 800px;
  padding: 50px 150px;
}

#welcome-section .content > span {
  padding-left: 5.5px;
  font-size: var(--fontPara);
  position: relative;
  color: var(--customGreen);
}

#welcome-section .content h1 {
  font-size: 4.5rem;
  font-weight: 600;
  font-family: var(--fontUbuntu);
  letter-spacing: var(--letterSpaceMd);
  padding-top: 20px;
  padding-bottom: 30px;
  line-height: 75px;
  color: var(--title);
}

#welcome-section .content h1 span:last-child {
  font-size: 4rem;
  color: var(--textColor);
  text-transform: initial;
  display: inline-block;
  margin-top: 10px;
  letter-spacing: var(--letterSpaceSm);
}

#welcome-section .content p {
  font-size: var(--fontPara);
  max-width: 520px;
  line-height: 26px;
  letter-spacing: var(--letterSpaceSm);
}

#welcome-section .content .buttons {
  margin-top: 50px;
}

/* footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: var(--footerBg);
}

footer p {
  margin-bottom: 0;
  letter-spacing: var(--letterSpaceSm);
  font-size: 13px !important;
  color: var(--footerColor);
}

footer p a {
  color: var(--footerColor);
  text-decoration: underline var(--textColor);
}

footer p a:hover {
  text-decoration: none;
}

@media screen and (max-width: 1025px) {
  #welcome-section {
    max-width: 1000px;
    margin: auto;
  }

  #welcome-section .content h1 {
    font-size: 4rem;
    line-height: 70px;
  }

  #welcome-section .content h1 span:last-child {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 769px) {
  #header {
    height: 75px;
  }

  .header-logo {
    padding: 10px;
  }

  .header-logo span {
    font-size: 2.25rem;
  }

  .navbar {
    position: fixed;
    height: 100vh;
    width: 0;
    top: 0;
    bottom: 0px;
    right: -100px;
    padding: 0;
    background: var(--shadowColor2);
    backdrop-filter: blur(20px);
    box-shadow: -10px 0px 30px -15px var(--gray);
    transform: translateX(0vw);

    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;

    transition: var(--transition);
  }

  .show-nav {
    width: 55.5vw !important;
    right: 55.5vw !important;
    transform: translateX(55.5vw) !important;
    box-shadow: none !important;
  }

  .navbar li {
    margin: 20px 0 !important;
    text-align: center;
    line-height: 30px;
  }

  .nav-link {
    color: #f4f4f4;
    padding: 10px;
    font-size: var(--fontPara);
  }

  .nav-link:hover,
  .active {
    background: rgba(250, 250, 250, 0.15);
    color: #f4f4f4;
    border-radius: 5px;
  }

  .header-logo {
    background: initial;
    color: initial;
    border-radius: initial;
  }

  .nav-link:after {
    display: none !important;
  }

  #mobile-menu-toggler {
    display: flex;
    right: 0vw;
    transform: rotate(0deg);
    transition: var(--transition);
  }

  .styled-toggler {
    right: 50vw !important;
    transform: rotate(90deg) !important;
  }

  .mobile-menu-toggler {
    display: block;
  }

  #welcome-section {
    justify-content: center;
  }

  #welcome-section .content {
    max-width: 100%;
    padding: 0px 100px 30px;
  }

  #welcome-section .content h1 {
    font-size: 3.5rem;
    line-height: 55px;
  }

  #welcome-section .content h1 span:last-child {
    font-size: 2.85rem;
  }

  #welcome-section .content p {
    max-width: 420px;
  }
}

@media screen and (max-width: 660px) {
  #header {
    padding: 0px 15px;
  }

  #welcome-section .content {
    padding: 0px 20px 30px;
  }

  #welcome-section .content h1 {
    font-size: 2.85rem;
    line-height: initial;
  }

  #welcome-section .content h1 span:last-child {
    font-size: 2.5rem;
    margin-top: 15px;
  }
}

@media screen and (max-width: 500px) {
  footer {
    position: relative;
    margin-top: 35px;
  }

  .social-icons {
    display: block;
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    margin: auto;
    transform: rotate(-90deg);
    width: 40px;
  }

  .social-icons ul li a {
    border-radius: 50%;
    background: var(--lighterGray);
  }

  .social-icons svg {
    width: 20px;
    height: 20px;
  }

  .social-icons ul li:last-child {
    margin-bottom: 0px;
  }

  .social-icons ul li a {
    transform: rotate(90deg);
  }

  .social-icons::after {
    display: none;
  }
}

@media screen and (max-width: 426px) {
  #welcome-section {
    margin-top: 0px;
    height: 680px;
  }

  #welcome-section .content .btn {
    min-width: 95px;
    padding: 10px;
    font-size: var(--fontSmall);
  }
}

@media screen and (max-width: 321px) {
  #welcome-section {
    height: 693px;
  }

  #welcome-section .content h1 {
    font-size: 2.3rem;
    letter-spacing: var(--letterSpaceSm);
  }

  #welcome-section .content h1 span:last-child {
    font-size: 2rem;
  }

  footer {
    padding: 20px 15px;
  }
}
