#welcome-section {
  display: flex;
  align-items: center;
  /* height: 420px; */
  /* background: var(--heroBg); */

  /* based on fcc requirement */
  margin-top: -80px;
  height: 100vh;
  background: transparent;
  /* based on fcc requirement */

  border-radius: 2px;
}

#welcome-section .content {
  max-width: 800px;
  padding: 50px 150px;
}

#welcome-section .content > span {
  padding-left: 5.5px;
  font-size: var(--fontPara);
  position: relative;
  color: var(--customGreen);
}

#welcome-section .content h1 {
  /* font-size: clamp(40px, 8vw, 80px); */
  font-size: 4.5rem;
  font-weight: 600;
  font-family: var(--fontUbuntu);
  letter-spacing: var(--letterSpaceMd);
  padding-top: 20px;
  padding-bottom: 30px;
  line-height: 75px;
  color: var(--title);
}

#welcome-section .content h1 span:last-child {
  font-size: 4rem;
  color: var(--textColor);
  text-transform: initial;
  display: inline-block;
  margin-top: 10px;
  letter-spacing: var(--letterSpaceSm);
}

#welcome-section .content p {
  font-size: var(--fontPara);
  max-width: 520px;
  line-height: 26px;
  letter-spacing: var(--letterSpaceSm);
}

#welcome-section .content .buttons {
  margin-top: 50px;
}

@media screen and (max-width: 1025px) {
  #welcome-section {
    max-width: 1000px;
    margin: auto;
  }

  #welcome-section .content h1 {
    font-size: 4rem;
    line-height: 70px;
  }

  #welcome-section .content h1 span:last-child {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 769px) {
  #welcome-section {
    justify-content: center;
  }

  #welcome-section .content {
    max-width: 100%;
    padding: 0px 100px 30px;
  }

  #welcome-section .content h1 {
    font-size: 3.5rem;
    line-height: 55px;
  }

  #welcome-section .content h1 span:last-child {
    font-size: 2.85rem;
  }

  #welcome-section .content p {
    max-width: 420px;
  }
}

@media screen and (max-width: 660px) {
  #welcome-section .content {
    padding: 0px 20px 30px;
  }

  #welcome-section .content h1 {
    font-size: 2.85rem;
    line-height: initial;
  }

  #welcome-section .content h1 span:last-child {
    font-size: 2.5rem;
    margin-top: 15px;
  }
}

@media screen and (max-width: 426px) {
  #welcome-section {
    margin-top: 0px;
    height: 680px;
  }

  #welcome-section .content .btn {
    min-width: 95px;
    padding: 10px;
    font-size: var(--fontSmall);
  }
}

@media screen and (max-width: 321px) {
  #welcome-section {
    height: 693px;
  }

  #welcome-section .content h1 {
    font-size: 2.3rem;
    letter-spacing: var(--letterSpaceSm);
  }

  #welcome-section .content h1 span:last-child {
    font-size: 2rem;
  }
}
