.project-category-tab {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  -moz-column-gap: 10px;
  -webkit-column-gap: 10px;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 20px 0px 50px;
}

.project-category-tab .categories {
  font-family: var(--fontLato);
  font-size: var(--fontSmall);
  color: var(--title);
  padding: 0.7rem 1rem;
  outline: none;
  border: 1px solid var(--customGreen);
  border-radius: 5px;
  box-shadow: 0.5rem 0.5rem 1.75rem rgb(0 0 0 / 15%);
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--letterSpaceSm);
  white-space: nowrap;
  cursor: pointer;
}

.project-category-tab .categories.active {
  font-weight: 600;
  background: var(--customGreen);
  color: var(--black);
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 20px;
}

.project-item {
  border-radius: 5px;
  transition: var(--transition);
}

.project-item.hidden {
  display: none;
}

.project-item:hover {
  box-shadow: 0.5rem 0.5rem 1.75rem var(--shadow);
}

.bg-img-container {
  max-width: 100%;
  height: 180px;
}

.project-item .bg-img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  border-radius: 5px 5px 0 0;
  transition: var(--transition);
}

/* .project-item:hover .bg-img {
  background-size: contain;
} */

.defaultBg {
  background-color: var(--footerColor);
  color: var(--bodyBg);
}

.defaultBg::before {
  content: "Default Background";
  display: flex;
  justify-content: center;
  padding-top: 70px;
}

/* company */
.feedback-app {
  background-image: url("/image/projects/feedback__vue-record.png");
}
.oigng {
  background-image: url("/image/projects/oigng-home.png");
}
.oxfordvest {
  background-image: url("/image/projects/oxfordvest-product.png");
}
.oxfordholdings {
  background-image: url("/image/projects/holdings.png");
}

.personal-portfolio {
  background-image: url("/image/projects/portfolio.png");
}
.stock-crypt {
  /* background-color: #ccc; */
  background-image: url("/image/projects/stock-crypt1.png");
}
.weather-js {
  background-image: url("/image/projects/weather-app-js.png");
}

.unsplash-clone {
  background-image: url("/image/projects/unsplash-clone1.png");
}
.music-player-vue {
  background-image: url("/image/projects/music-player-vue1.png");
}
.shopify-internship {
  background-image: url("/image/projects/shopify-int-challenge.png");
}

.tech-doc {
  background-image: url("/image/projects/tech-doc.png");
}
.weather-vue {
  background-image: url("/image/projects/weather-app-vue.png");
}
.quiz-vue {
  background-image: url("/image/projects/quiz.png");
}

.tosdis {
  background-image: url("/image/projects/tosdis.png");
}
.solrazr {
  background-image: url("/image/projects/solrazr.png");
}
.multichain {
  background-image: url("/image/projects/multichain-full.png");
}

.pocket-arena {
  background-image: url("/image/projects/pocket-arena.png");
  background-position: top !important;
}
.walletconnect {
  background-image: url("/image/projects/walletconnect-1.png");
}
.product-landing {
  background-image: url("/image/projects/product-landing.png");
}

.survey-form {
  background-image: url("/image/projects/survey-form.png");
}
.tribute {
  background-image: url("/image/projects/tribute.png");
}
.weight-conv {
  background-image: url("/image/projects/weight-conv-js.png");
}

/* bg hover ----- */
.project-item:hover .feedback-app {
  /* background-image: url("/image/projects/sub-proj/feedback-app-video.mp4"); */
  background-image: url("/image/projects/sub-proj/feedback__vue-uploadedFeedback.png");
}
.project-item:hover .oigng {
  background-image: url("/image/projects/sub-proj/oigng-port-hover.png");
}
/* .project-item:hover .oxfordvest {
  background-image: url("/image/projects/sub-proj/");
} */
/* .project-item:hover .oxfordholdings {
  background-image: url("/image/projects/sub-proj/");
} */

.project-item:hover .personal-portfolio {
  background-image: url("/image/projects/sub-proj/portfolio_day.png");
}
.project-item:hover .stock-crypt {
  background-image: url("/image/projects/sub-proj/stock-crypt2.png");
}

.project-item:hover .unsplash-clone {
  background-image: url("/image/projects/sub-proj/unsplash-clone2.png");
}
.project-item:hover .music-player-vue {
  background-image: url("/image/projects/sub-proj/music-player-vue2.png");
}

.project-item:hover .tech-doc {
  background-image: url("/image/projects/sub-proj/tech-doc_2.png");
}

.project-item:hover .tosdis {
  background-image: url("/image/projects/sub-proj/tosdis_2.png");
}
.project-item:hover .solrazr {
  background-image: url("/image/projects/sub-proj/solrazr_2.png");
}
.project-item:hover .multichain {
  background-image: url("/image/projects/sub-proj/multichain-1.png");
}

.project-item:hover .pocket-arena {
  background-image: url("/image/projects/sub-proj/pocket-arena-mobile.png");
  background-position: center !important;
}
.project-item:hover .walletconnect {
  background-image: url("/image/projects/sub-proj/walletconnect-2.png");
}
.project-item:hover .product-landing {
  background-image: url("/image/projects/sub-proj/product-landing_2.png");
}

.project-description {
  padding: 30px 20px;
  letter-spacing: var(--letterSpaceSm);
}

.project-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  color: var(--title);
  text-transform: capitalize;
}

.project-title h3 {
  font-size: 20px;
  font-weight: 400;
  font-family: var(--fontUbuntu);
}

.project-title .price {
  min-width: 20px;
}

.project-title .price svg {
  color: var(--customGreen);
}

.project-title .price svg:hover {
  cursor: pointer;
}

.project-description p {
  font-size: 14px;
  color: var(--textColor);
  line-height: 22px;
}

.project-description .view-project-button {
  display: inline-block;
  padding: 7px 15px;
  margin-top: 8px;
  background: var(--button2);
  color: var(--title);
  border: 1px solid var(--customGreen);
  border-radius: 20px;
  font-size: 13px;
  text-transform: capitalize;
  letter-spacing: var(--letterSpaceSm);
}

.project-description .view-project-button:hover {
  cursor: pointer;
  background: var(--button2Hover);
}

.view-more-projects {
  margin-top: 70px;
  text-align: center;
  display: block !important;
}

.view-more-projects .btn {
  background: var(--button2Hover) !important;
  margin-right: 0 !important;
  color: var(--black) !important;
  font-size: var(--fontPara);
}

.view-more-projects .btn:hover,
.view-more-projects .btn:active {
  background: var(--button2) !important;
  color: var(--customWhite) !important;
}

.spinner {
  /* display: inline-block; */
  display: none;
  height: 10px;
  width: 10px;
  margin-left: 7px;
  vertical-align: -0.125em;
  border: 3px solid var(--spinner);
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border 0.75s linear infinite;
  animation: spinner-border 0.75s linear infinite;
}

.view-more-projects .btn:hover .spinner,
.view-more-projects .btn:active .spinner {
  border: 3px solid var(--spinnerHover);
  border-right-color: transparent;
}

@keyframes spinner-border {
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 769px) {
  #projects {
    padding-left: 70px;
    padding-right: 70px;
  }

  .project-category-tab {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 541px) {
  .projects {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 426px) {
  #projects {
    padding-left: 20px;
    padding-right: 20px;
  }

  .projects {
    grid-template-columns: 1fr;
  }

  .view-more-projects .btn {
    font-size: 15px;
  }
}

@media screen and (max-width: 376px) {
  .bg-img-container {
    height: 170px;
  }
}

@media screen and (max-width: 321px) {
  #projects {
    padding-left: 15px;
    padding-right: 15px;
  }
}
