.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 20px;
}

.project-item {
  border-radius: 5px;
  transition: var(--transition);
}

.project-item.hidden {
  display: none;
}

.project-item:hover {
  box-shadow: 0.5rem 0.5rem 1.75rem var(--shadow);
}

.bg-img-container {
  max-width: 100%;
  height: 180px;
}

.project-item .bg-img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  border-radius: 5px 5px 0 0;
  transition: var(--transition);
}

/* .project-item:hover .bg-img {
  background-size: contain;
} */

.project-personal-portfolio {
  background-image: url("/image/projects/portfolio.png");
}
.project-stock-crypt {
  /* background-color: #ccc; */
  background-image: url("/image/projects/stock-crypt1.png");
}
.project-weather-js {
  background-image: url("/image/projects/weather-app-js.png");
}

.project-unsplash-clone {
  background-image: url("/image/projects/unsplash-clone1.png");
}
.project-music-player-vue {
  background-image: url("/image/projects/music-player-vue1.png");
}
.project-shopify-int-challenge {
  background-image: url("/image/projects/shopify-int-challenge.png");
}

.project-tech-doc {
  background-image: url("/image/projects/tech-doc.png");
}
.project-weather-vue {
  background-image: url("/image/projects/weather-app-vue.png");
}
.project-quiz-vue {
  background-image: url("/image/projects/quiz.png");
}

.project-tosdis-temp {
  background-image: url("/image/projects/tosdis.png");
}
.project-solrazr {
  background-image: url("/image/projects/solrazr.png");
}
.project-product-landing {
  background-image: url("/image/projects/product-landing.png");
}

.project-survey-form {
  background-image: url("/image/projects/survey-form.png");
}
.project-tribute {
  background-image: url("/image/projects/tribute.png");
}
.project-weight-conv {
  background-image: url("/image/projects/weight-conv-js.png");
}

/* bg hover ----- */
.project-item:hover .project-personal-portfolio {
  background-image: url("/image/projects/sub-proj/portfolio_day.png");
}
.project-item:hover .project-stock-crypt {
  background-image: url("/image/projects/sub-proj/stock-crypt2.png");
}

.project-item:hover .project-unsplash-clone {
  background-image: url("/image/projects/sub-proj/unsplash-clone2.png");
}
.project-item:hover .project-music-player-vue {
  background-image: url("/image/projects/sub-proj/music-player-vue2.png");
}

.project-item:hover .project-tech-doc {
  background-image: url("/image/projects/sub-proj/tech-doc_2.png");
}

.project-item:hover .project-tosdis-temp {
  background-image: url("/image/projects/sub-proj/tosdis_2.png");
}
.project-item:hover .project-solrazr {
  background-image: url("/image/projects/sub-proj/solrazr_2.png");
}
.project-item:hover .project-product-landing {
  background-image: url("/image/projects/sub-proj/product-landing_2.png");
}

.project-description {
  padding: 30px 20px;
  letter-spacing: var(--letterSpaceSm);
}

.project-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  color: var(--title);
  text-transform: capitalize;
}

.project-title h3 {
  font-size: 20px;
  font-weight: 400;
  font-family: var(--fontUbuntu);
}

.project-title .price {
  min-width: 20px;
}

.project-title .price svg {
  color: var(--customGreen);
}

.project-title .price svg:hover {
  cursor: pointer;
}

.project-description p {
  font-size: 14px;
  color: var(--textColor);
  line-height: 22px;
}

.project-description .view-project-button {
  padding: 7px 15px;
  background: var(--button2);
  color: var(--title);
  border: 1px solid var(--customGreen);
  border-radius: 20px;
  font-size: 13px;
  text-transform: capitalize;
  letter-spacing: var(--letterSpaceSm);
}

.project-description .view-project-button:hover {
  cursor: pointer;
  background: var(--button2Hover);
}

.view-more-projects {
  margin-top: 80px;
  text-align: center;
}

.view-more-projects .btn {
  background: var(--button2Hover) !important;
  margin-right: 0 !important;
  color: var(--black) !important;
  font-size: var(--fontPara);
}

.view-more-projects .btn:hover,
.view-more-projects .btn:active {
  background: var(--button2) !important;
  color: var(--customWhite) !important;
}

.spinner {
  /* display: inline-block; */
  display: none;
  height: 10px;
  width: 10px;
  margin-left: 7px;
  vertical-align: -0.125em;
  border: 3px solid var(--spinner);
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border 0.75s linear infinite;
  animation: spinner-border 0.75s linear infinite;
}

.view-more-projects .btn:hover .spinner,
.view-more-projects .btn:active .spinner {
  border: 3px solid var(--spinnerHover);
  border-right-color: transparent;
}

@keyframes spinner-border {
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 769px) {
  #projects {
    padding-left: 70px;
    padding-right: 70px;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 541px) {
  .projects {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 426px) {
  #projects {
    padding-left: 20px;
    padding-right: 20px;
  }

  .projects {
    grid-template-columns: 1fr;
  }

  .view-more-projects .btn {
    font-size: 15px;
  }
}

@media screen and (max-width: 376px) {
  .bg-img-container {
    height: 170px;
  }
}

@media screen and (max-width: 321px) {
  #projects {
    padding-left: 15px;
    padding-right: 15px;
  }
}
