.social-icons {
  position: fixed;
  width: 35px;
  bottom: 0px;
  left: 40px;
  right: auto;
  z-index: 1;
}

.social-icons::after {
  content: "";
  display: block;
  width: 0.75px;
  height: 90px;
  margin: 0px auto;
  background: var(--customGreen);
}

.social-icons ul {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  line-height: 22px;
}

.social-icons ul li:last-child {
  margin-bottom: 20px;
}

.social-icons ul li a {
  padding: 10px;
  display: inline-block;
  color: var(--customBlue);
  position: relative;
}

.social-icons ul li a:hover {
  transform: translateY(-4px);
  color: var(--customGreen);
}

.social-icons svg {
  width: 18px;
  height: 18px;
  vertical-align: middle;
  fill: none;
}

.stack-overflow path {
  fill: var(--customBlue);
}

.stack-overflow polygon {
  fill: var(--customBlue);
}

.stack-overflow a:hover path,
.stack-overflow a:hover polygon {
  fill: var(--customGreen);
}

@media screen and (max-width: 1025px) {
  .social-icons {
    left: 20px;
  }
}

@media screen and (max-width: 769px) {
  .social-icons {
    left: 10px;
  }
}

@media screen and (max-width: 500px) {
  .social-icons {
    display: none;
  }
}
